{% extends 'base.html' %}
{% block content %}
<center>
<div class="container-xxl py-6">
  <div class="container">
      <div class="row g-5 align-items-center">
				<h4 class="text-dark alert alert-secondary">Video Converter</h4>
				<br><br>
				<form action="" enctype="multipart/form-data" method="post" style="position: relative; top:20px;">
					{% csrf_token %}
					<tr>
						<th><label for="id_video">Video:</label></th>
						<td>
							<input type="file" name="video" required id="id_video" accept="video/*">
						</td>
					</tr>
					<tr>
						<th><label for="id_VIDEO_CHOICES">VIDEO CHOICES:</label></th>
						<td>
							<select name="VIDEO_CHOICES" required id="id_VIDEO_CHOICES">
								<option value="" selected>Select Option</option>
								<option value="GIF">GIF</option>
								<option value="AUDIO">AUDIO</option>
								<option value="Image">Image</option>
							</select>
						</td>
					</tr>
					<br><br><br>
					<input type="submit" class=" btn btn-primary" value="Convert">
				</form>
				<br>
			</div>
      </div>
</div>
</center>
{% endblock content %}